.root {
    -fx-font-family: "微软雅黑";
    -fx-font-size: 16px;
    -fx-background-size: stretch stretch;
    -fx-background-color:transparent;
    -fx-background-color:rgba(0,0,0,0);
    -fx-background-position: center center;
    -fx-background-radius: 25;
    -fx-border-radius: 25;
}

#Spane .scroll-bar:horizontal:hover .track ,
#Spane .scroll-bar:horizontal:pressed .track ,
#Spane .scroll-bar:vertical:hover .track,
#Spane .scroll-bar:vertical:pressed .track{
-fx-background-color: derive(#434343,0.2);
-fx-opacity: 0.2;
}

#Spane .scroll-bar .track{
-fx-background-color:rgba(238, 233, 234,0.5);
}

#Spane .scroll-bar .thumb{
-fx-background-color: derive(#424242,0.5);
-fx-border-color:derive(gray,0.5);
}

#Spane .scroll-bar .thumb:hover,
#Spane .scroll-bar .thumb:pressed{
-fx-background-color: derive(black,50%);
}

#Spane .increment-button:hover ,#Spane .decrement-button:hover {
-fx-background-color:derive(gray,100%);
-fx-border-color:derive(gray,80%);
-fx-padding:10px;
}


#Spane,#Apane{
    -fx-background-color:rgba(255,255,255,0);
    -fx-background-color:transparent;
    -fx-background:transparent;
}

#closebtn{
    -fx-padding: 5 22 5 22;
    -fx-border-color: rgba(0,0,0,0);
    -fx-border-width: 1;
    -fx-border:none;
    -fx-background-color: blue;
    -fx-font-family: "微软雅黑";
    -fx-font-size: 11pt;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
    -fx-background-color:rgba(0,0,0,0);
}

#closebtn:hover{
    -fx-background-color: rgba(255,130,71,0.85);
    -fx-border-color: rgba(255,130,71,1);
    -fx-border-width: 1;
}

#closebtn:pressed{
    -fx-background-color: rgba(255,130,71,1);
    -fx-scale-x: 0.95;
    -fx-scale-y: 0.95;
    -fx-scale-z: 0.95;
}